**/runs/
*.png
*.tsv
*.pt
*.pyc
*.pbtxt
*.0
*.tar

*.jpg
*.jpg
*.jpg
*.jpg
*.jpg
CenterLoss_FER/__pycache__/dataset.cpython-39.pyc
CenterLoss_FER/__pycache__/Resnet.cpython-39.pyc
CenterLoss_FER/images/epoch=1.jpg
CenterLoss_FER/images/epoch=10.jpg
CenterLoss_FER/images/epoch=100.jpg
CenterLoss_FER/images/epoch=11.jpg
CenterLoss_FER/images/epoch=12.jpg
CenterLoss_FER/images/epoch=13.jpg
CenterLoss_FER/images/epoch=14.jpg
CenterLoss_FER/images/epoch=15.jpg
CenterLoss_FER/images/epoch=16.jpg
CenterLoss_FER/images/epoch=17.jpg
CenterLoss_FER/images/epoch=18.jpg
CenterLoss_FER/images/epoch=19.jpg
CenterLoss_FER/images/epoch=2.jpg
CenterLoss_FER/images/epoch=20.jpg
CenterLoss_FER/images/epoch=21.jpg
CenterLoss_FER/images/epoch=22.jpg
CenterLoss_FER/images/epoch=23.jpg
CenterLoss_FER/images/epoch=24.jpg
CenterLoss_FER/images/epoch=25.jpg
CenterLoss_FER/images/epoch=26.jpg
CenterLoss_FER/images/epoch=27.jpg
CenterLoss_FER/images/epoch=28.jpg
CenterLoss_FER/images/epoch=29.jpg
CenterLoss_FER/images/epoch=3.jpg
CenterLoss_FER/images/epoch=30.jpg
CenterLoss_FER/images/epoch=31.jpg
CenterLoss_FER/images/epoch=32.jpg
CenterLoss_FER/images/epoch=33.jpg
CenterLoss_FER/images/epoch=34.jpg
CenterLoss_FER/images/epoch=35.jpg
CenterLoss_FER/images/epoch=36.jpg
CenterLoss_FER/images/epoch=37.jpg
CenterLoss_FER/images/epoch=38.jpg
CenterLoss_FER/images/epoch=39.jpg
CenterLoss_FER/images/epoch=4.jpg
CenterLoss_FER/images/epoch=40.jpg
CenterLoss_FER/images/epoch=41.jpg
CenterLoss_FER/images/epoch=42.jpg
CenterLoss_FER/images/epoch=43.jpg
CenterLoss_FER/images/epoch=44.jpg
CenterLoss_FER/images/epoch=45.jpg
CenterLoss_FER/images/epoch=46.jpg
CenterLoss_FER/images/epoch=47.jpg
CenterLoss_FER/images/epoch=48.jpg
CenterLoss_FER/images/epoch=49.jpg
CenterLoss_FER/images/epoch=5.jpg
CenterLoss_FER/images/epoch=50.jpg
CenterLoss_FER/images/epoch=51.jpg
CenterLoss_FER/images/epoch=52.jpg
CenterLoss_FER/images/epoch=53.jpg
CenterLoss_FER/images/epoch=54.jpg
CenterLoss_FER/images/epoch=55.jpg
CenterLoss_FER/images/epoch=56.jpg
CenterLoss_FER/images/epoch=57.jpg
CenterLoss_FER/images/epoch=58.jpg
CenterLoss_FER/images/epoch=59.jpg
CenterLoss_FER/images/epoch=6.jpg
CenterLoss_FER/images/epoch=60.jpg
CenterLoss_FER/images/epoch=61.jpg
CenterLoss_FER/images/epoch=62.jpg
CenterLoss_FER/images/epoch=63.jpg
CenterLoss_FER/images/epoch=64.jpg
CenterLoss_FER/images/epoch=65.jpg
CenterLoss_FER/images/epoch=66.jpg
CenterLoss_FER/images/epoch=67.jpg
CenterLoss_FER/images/epoch=68.jpg
CenterLoss_FER/images/epoch=69.jpg
CenterLoss_FER/images/epoch=7.jpg
CenterLoss_FER/images/epoch=70.jpg
CenterLoss_FER/images/epoch=71.jpg
CenterLoss_FER/images/epoch=72.jpg
CenterLoss_FER/images/epoch=73.jpg
CenterLoss_FER/images/epoch=74.jpg
CenterLoss_FER/images/epoch=75.jpg
CenterLoss_FER/images/epoch=76.jpg
CenterLoss_FER/images/epoch=77.jpg
CenterLoss_FER/images/epoch=78.jpg
CenterLoss_FER/images/epoch=79.jpg
CenterLoss_FER/images/epoch=8.jpg
CenterLoss_FER/images/epoch=80.jpg
CenterLoss_FER/images/epoch=81.jpg
CenterLoss_FER/images/epoch=82.jpg
CenterLoss_FER/images/epoch=83.jpg
CenterLoss_FER/images/epoch=84.jpg
CenterLoss_FER/images/epoch=85.jpg
CenterLoss_FER/images/epoch=86.jpg
CenterLoss_FER/images/epoch=87.jpg
CenterLoss_FER/images/epoch=88.jpg
CenterLoss_FER/images/epoch=89.jpg
CenterLoss_FER/images/epoch=9.jpg
CenterLoss_FER/images/epoch=90.jpg
CenterLoss_FER/images/epoch=91.jpg
CenterLoss_FER/images/epoch=92.jpg
CenterLoss_FER/images/epoch=93.jpg
CenterLoss_FER/images/epoch=94.jpg
CenterLoss_FER/images/epoch=95.jpg
CenterLoss_FER/images/epoch=96.jpg
CenterLoss_FER/images/epoch=97.jpg
CenterLoss_FER/images/epoch=98.jpg
CenterLoss_FER/images/epoch=99.jpg
*.ckpt
*.txt
*.txt
*.pyc
*.pth
*.xml
*.json
*.txt
*.txt
*.txt
*.txt
*.pyd
*.cmake
*.dll
*.dat
*.css
*.zip
*.exe
